.card {
    background-color: var(--clr-neutral-0);
    border: 1px solid var(--clr-neutral-200);
    border-radius: var(--radius-300);
}

.input-field {
    width: 100%;
    padding: var(--spacing-200);
    border: 1px solid var(--clr-neutral-200);
    border-radius: var(--radius-100);
}

.btn {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-200);
    border: none;
    border-radius: var(--radius-full);
    font-weight: var(--fw-bold);
    cursor: pointer;
    transition: opacity .2s ease;


}

.btn[data-variant="primary"] {
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-0);
}

.login-screen {
    min-height: 80vh;
    place-content: center;
    grid-template-columns: min(100%, 30rem);
}